.#{$classPre}-logout {
    width: 60px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;

    .icon {
        width: 18px;
        height: 18px;
        cursor: pointer;

        &:hover {
            color: $primaryColor;
        }
    }
}
