.ant-pro-page-container {
    .ant-pro-page-container-children-content {
        margin: 10px;
    }
    .ant-pro-page-container-warp {
        .ant-page-header {
            padding: 4px 10px;
            .ant-page-header-heading {
                margin-top: 0;
            }
            &.has-breadcrumb {
                width: 100%;
                padding: 4px 16px;
                box-shadow: 0 2px 8px #f0f1f2;
            }
            .ant-page-header-content {
                padding-top: 0;
            }
        }
        .ant-pro-page-container-main {
            .ant-pro-page-container-extraContent {
                width: 100%;
                margin-left: 0;
                text-align: start;
            }
        }
    }
    .ant-pro-grid-content {
        .ant-pro-grid-content-children {
            .ant-pro-page-container-children-content {
                & + div {
                    margin-top: 0 !important;
                }
            }
        }
    }
    .ant-pro-footer-bar {
        height: 48px;
    }
}
