.ant-select-item-option-content,
.ant-select-selection-item {
    display: flex;
    align-items: center;
}
.ant-picker-cell {
    .ant-picker-cell-inner {
        color: rgba(0, 0, 0, 0.85);
    }
}
